body {
  display: flex;
  justify-content: center;
  background-color: #e1bc91;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

Form {
  padding: 2rem;
}

button {
    background-color: #c19277;
    color: white;
    border-radius: 4px;
    width: auto;
    margin: 1rem;
    padding: .5rem;
    border: solid #62959c;
}

input {
    width: auto;
    padding: .5rem;
}

h1, h2, h3, h4, h5 {
  font-family: American Typewriter;
}

h5 {
  font-style: italic;
  padding: 2rem;
}

main {
  border: solid #62959c;
  padding: 1rem;
}

section {
  padding-top: 1rem;
}